<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="TESTDB" connectionString="Data Source=LAPTOP-517427VD\SQLEXPRESS;Initial Catalog=school;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="School_Management_System.Properties.Settings.schoolConnectionString"
      connectionString="Data Source=LAPTOP-517427VD\SQLEXPRESS;Initial Catalog=school;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>